@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'Playtime';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/playtime.ttf");
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/raleway.ttf");
}

:root {
    --header-bg-color: rgb(0, 113, 140);
    --red: rgb(255, 2, 76);
    --green: rgb(0, 113, 140);
    --yellow: rgb(255, 224, 59);
    --neon: rgb(90, 235, 229);
    --gray: rgb(224, 224, 224);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway' ,'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: 'Playtime' ,'Open Sans', sans-serif;
    padding-top: 2rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: var(--green);
}

p {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
}

#container {
    width: 100vw;
    max-width: 600px;
    grid-column: 2/3;
    background-color: red;
    /*box-shadow: 0px 10px 10px 10px #00000030;*/
    display: inline-grid;
    grid-template-rows: auto auto;
}

/*Header stuff*/

#header {
    z-index: 99;
    background-color: var(--header-bg-color);
    color: white;
    font-size: 1rem;
    height: 51px;
    width: 100vw;
    position: fixed;
    display: flex;
    overflow: scroll;
    justify-content: center;
    align-items: center;
}

.anchor-button {
    height: 1em;
    padding-bottom: 0.5rem;
    padding-top: 0.2rem;
    padding-right: 2rem;
}

.popup-button {
    border-radius: 1rem;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
    height: 1em;
    border: 2px solid white;
    transition: background-color 0.2s, color 0.2s;
}

.popup-button:hover {
    background-color: white;
    color: var(--header-bg-color);
}

@media screen and (max-width: 555px) {
    .anchor-button {
        display: none;
    }
    .popup-button {
        display: none;
    }
    .button-inicio {
        display: flex;
        height: 1em;
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
        padding-top: 0.2rem;
        padding-right: 0rem;
    }
}

/*Rows section*/

.row {
}
